.header{
    display: flex;
    align-items: center;


}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;

}

.header .logo {
    max-height: 3px;
}

.header .title-grooup {
    padding-left: 25px;

}

.header .title-grooup i {
    padding-right: 5px;

}