<div class="container">
    <h2 style="color: #FF4500; margin-left: 10px; font-family: 'Arial', sans-serif;">Registros de Ponto</h2>
    <table class="table table-striped" style="border-spacing: 14px; width: 100%;">
        <thead>
            <tr style="background-color: #f8f8f8; color: #333;">
                <th class="table-header" style="padding: 10px; text-align: center; font-family: 'Verdana', sans-serif;">Nome</th>
                <th class="table-header" style="padding: 10px; text-align: left; font-family: 'Verdana', sans-serif;">Matricula</th>
                <th class="table-header" style="padding: 10px; text-align: left; font-family: 'Verdana', sans-serif;">Horario de chegada</th>
                <th class="table-header"  style="padding: 10px; text-align: left; font-family: 'Verdana', sans-serif;">Horario de almoço</th>
                <th class="table-header" style="padding: 10px; text-align: left; font-family: 'Verdana', sans-serif;">Horario de retorno</th>
                <th class="table-header" style="padding: 10px; text-align: left; font-family: 'Verdana', sans-serif;">Horario de saída</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let registro of registros">
                <td style="padding: 10px; text-align: left; color: #008000; font-family: 'Courier New', monospace;">{{ registro.nome }}</td>
                <td style="padding: 10px; text-align: left; color: #008000; font-family: 'Courier New', monospace;">{{ registro.matricula }}</td>
                <td style="padding: 10px; text-align: left; color: #00008B	; font-family: 'Courier New', monospace;">{{ registro.horarioChegada }}</td>
                <td style="padding: 10px; text-align: left; color: #00008B	; font-family: 'Courier New', monospace;">{{registro.horarioAlmoco}}</td>
                <td style="padding: 10px; text-align: left; color: #00008B	; font-family: 'Courier New', monospace;">{{registro.horarioRetorno}}</td>
                <td style="padding: 10px; text-align: left; color: #00008B	; font-family: 'Courier New', monospace;">{{registro.horarioSaida}}</td>
            </tr>
        </tbody>
    </table>
    <button  
    style=
    "margin-left: 20px; 
    background-color: #007bff; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;" (click)="Voltar()" color="primary" class="custom-button">Voltar</button>
    
</div>
