<mat-card class="container" class="home mat-elevation-z3">
    <mat-card-title class="title" style="margin: auto;">Bem vindo!</mat-card-title>
    <mat-card-subtitle class="subtitle">Você está no sistema de gerencimento de ponto dos funcionários</mat-card-subtitle>
</mat-card>

<div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="entrar()"  #cadastroForm="ngForm">
      <div>
        <label for="nome">Nome:</label>
        <input id="nome" formControlName="nome" type="text">
        <div *ngIf="loginForm.get('nome')?.invalid && loginForm.get('nome')?.touched">
          Nome é obrigatório.
        </div>
      </div>
      <div>
        <label for="senha">Senha:</label>
        <input id="senha" formControlName="senha" type="password" />
        <div *ngIf="loginForm.get('senha')?.invalid && loginForm.get('senha')?.touched">
          Senha é obrigatória.
        </div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid"  routerLink="/cadastro" (click)="entrar()">Login</button>
      <br><br>
      <a href="/cadastrousuario" (click)="CriarUsuario()">Criar usuário</a> 
      <a href="/cadastrousuario" (click)="alterarSenha()" style="margin-left:130px">Alterar Senha</a>
      <div *ngIf="error" class="error-message">
        {{ error }}
      </div>
    </form>
</div>
  