<div class="container">
  <h1>Cadastro de Usuário</h1>
  <form (ngSubmit)="Usuario()" #cadastroForm="ngForm">
    <div>
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" required [(ngModel)]="nome" class="form-control">
    </div>
    <div>
      <label for="matricula">Matricula</label>
      <input type="number" id="matricula" name="nome" required [(ngModel)]="matricula" class="form-control">
    </div>

    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required [(ngModel)]="email" class="form-control">
    </div>
    <div>
      <label for="senha">Senha:</label>
      <input type="password" id="senha" name="senha" required [(ngModel)]="senha" class="form-control" >
    </div>
    <!-- <div *ngIf="tipo === 'ADMIN'" class="form-group"> -->
      <div>
        <label for="perfil">Perfil:</label>
        <select id="perfil" [(ngModel)]="perfil" class="form-control">
            <option value="Admninistrador">Administrador</option>
            <option value="Usuario">Usuário</option>
        </select>
      </div>
      <br><br>
    <button type="submit" (click)="Usuario()"  class="form-control">Cadastrar Usuário</button>
    <br><br>
    <button type="submit" (click)="Voltar()"  class="form-control">Voltar</button>
    <div *ngIf="sucesso" class="sucesso">
      <p>{{ sucesso }}</p>
  </div>
  </form>
</div>
