<div class="container">
    <h2>Registros de Ponto</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Matricula</th>
                <th>Horario de chegada</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let registro of registros">
                <td>{{ registro.nome }}</td>
                <td>{{ registro.matricula }}</td>
                <td>{{ registro.horarioChegada }}</td>
            </tr>
        </tbody>
    </table>
</div>


 