<div class="container">
  <h2>Registro de Ponto</h2>
 
  <table class="table table-striped" >
    <thead>
      <tr>
        <th class="table-header"></th>
        <th class="table-header">Nome</th>
        <th class="table-header">Matrícula</th>
        <th class="table-header">Data e hora de Chegada</th>
        <th class="table-header">Data e hora do Almoço</th>
        <th class="table-header">Data e hora de Retorno</th>
        <th class="table-header">Data e hora de Saída</th>
        <th class="table-header">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let registro of registros">
        <td><input type="checkbox" [(ngModel)]="registro.selecionado"></td>
        <td>{{ registro.nome }}</td>
        <td>{{ registro.matricula }}</td>
        <td>{{ registro.horarioChegada }}</td>
        <td>{{ registro.horarioAlmoco }}</td>
        <td>{{ registro.horarioRetorno }}</td>
        <td>{{ registro.horarioSaida }}</td>
        <td>
          <button class="btn-justificativa" (click)="mostrarJustificativa(registro.id)">Excluir</button>
          <button class="btn-editar" (click)="editarRegistro(registro.id)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="mostrarModalJustificativa" class="modal">
    <div class="modal-content">
      <span class="close" (click)="fecharModalJustificativa()">&times;</span>
      <h2>Justificar Exclusão</h2>
      <select [(ngModel)]="justificativa">
        <option *ngFor="let justificativa of justificativas">{{ justificativa }}</option>
      </select>
      <button class="btn-confirmar" (click)="confirmarExclusao()">Confirmar</button>
    </div>
  </div>
  <div *ngIf="sucesso" class="sucesso">
    <p>{{ sucesso }}</p>
  </div>
  
</div>
